.display-page
	padding-top: 130px
	padding-bottom: 90px
	color: $white
	h1
		font-size: 37px
		font-weight: 600
		text-transform: uppercase
		&:after
			content: ""
			display: block
			height: 2px
			width: 60px
			background-color: $accent-color
			margin-top: 8px
			margin-bottom: 15px
		span
			color: $accent-color
	p
		font-size: 14px
.unity
	padding-bottom: 90px
	.description
		margin-bottom: 120px
//Single work
.head-project
	padding-top: 80px
	padding-bottom: 80px
	.title-project
		margin-top: 0
.content-project
	p
		font-size: 14px
		color: #606060
	h2, h3
		font-weight: 600
		text-transform: uppercase
		font-size: 20px
		letter-spacing: 1px
		margin-bottom: 0
		span
			color: $accent-color
		&:after
			content: ""
			display: block
			height: 2px
			width: 40px
			background-color: $accent-color
			margin-top: 8px
			margin-bottom: 15px
	.list-project
		padding-left: 0
		li
			list-style: none
			font-size: 14px
			margin-bottom: 5px
			color: #585858
			letter-spacing: 0.5px
			&:last-child
				margin-bottom: 0
			b
				font-weight: 600
			a
				color: $accent-color
				i
					margin-left: 6px
					position: relative
					top: 1px
.single-project
	.about-us
		padding-top: 0
	.full-slider
		.slide
			.small-text
				.heading-title-big
					font-size: 65px
.gallery-slide
	overflow: hidden
	position: relative

/*Service single*/
.content-service-single
	padding-bottom: 30px
	h1,h2,h3,h4,h5
		margin-top: 0
		&:after
			content: ""
			display: block
			height: 2px
			width: 40px
			background-color: $accent-color
			margin-top: 8px
			margin-bottom: 15px
	ul.list
		margin-top: 30px
.service-about
	ul.list
		margin-top: 15px

.toc
	margin: 0
	padding: 0
	*
		list-style-type: none
	> ul
		padding-left: 8px
		padding-right: 8px
		text-align: left
		> li > ul
			padding-left: 8px
			display: none
	ul ul ul
		display: none;
	li
		border-top: 2px solid rgba(0,113,188,0.1)
		list-style: none
		font-weight: bold
		padding: 10px;
		font-size: 18px
		+mt(0.5s)
		&:first-child
			border-top: none

		li
			padding: 3px;
			font-weight: normal
			border: none;

		a
			color: $dark-accent
			text-decoration: none
			+mt(0.5s)
			&:hover
				color: $accent-color
	.active
		background-color: shade($accent-color, 10%)
		border-bottom: none
		&:hover
			background-color: tint($accent-color, 10%)
			a
				color: $white
		a
			color: $white

.top
	position: sticky
	border-radius: 8px;

.content
	p
		font-family: $body-font
		font-size: 14pt;

	pre
		display: block;
		padding: 10px
		border-radius: 6px
		background-color: #333
		color: #fff
	h2
		padding-top: 60px

	h3
		padding-top: 30px

	img
		margin: 1em auto
		display: block

#return-to-top i
	color: #fff
	margin: 0
	position: relative
	left: 16px
	top: 13px
	font-size: 19px
	-webkit-transition: all 0.3s ease
	-moz-transition: all 0.3s ease
	-ms-transition: all 0.3s ease
	-o-transition: all 0.3s ease
	transition: all 0.3s ease

#return-to-top:hover 
	background: rgba(0, 0, 0, 1)

#return-to-top:hover i
	color: #fff;
	top: 5px;

.submenu
	ul
		padding: 3px 0px 0px 0px !important
	li
		padding: 5px 0px 0px 25px !important
		border-bottom: none !important
		font-size: 16px !important
		font-weight: normal !important
		padding: 5px 0px 0px 10px !important
		text-align: left
	a
		color: #616060 !important
		&:hover
			color: $accent-color !important


.community
	p
		margin: 1em 0
	.heading-title
		margin-bottom: 1em
	.community-icon
		display: flex
		justify-content: center
	&.community-trello
		color: #fff
		background-color: #127ABD
		a
			color: yellow
		.heading-title h2
			color: #fff
			span
				color: yellow
	&.community-involved
		img
			width: 100%
			border: 1px solid #ccc
			padding: 2px
	&.community-slack
		img
			width: 100%
			border: 1px solid #ccc
			padding: 2px
		a.btn
			margin-bottom: 2em

	.card div
		font-size: 36px
		text-align: center
		background-color: #0071bc
		background-color: transparent
		color: #0071bc
		display: block
		margin: 0.5em
		padding: 1em
		box-shadow: 1px 1px 5px #ccc

		&:hover
			color: #fff
			background-color: #0071bc
		a
			color: inherit
			border-bottom: 1px dotted #fff
			&:hover
				text-decoration: none
			span
				display: block
				font-size: 16px
				border-bottom: none

	&.community-next
		.community-icon img
			position: relative
			top: 40px;

#return-to-top 
	position: fixed
	bottom: 20px
	right: 20px
	background: rgb(0, 0, 0)
	background: rgba(0, 0, 0, 0.7)
	width: 50px
	height: 50px
	display: block
	text-decoration: none
	-webkit-border-radius: 35px
	-moz-border-radius: 35px
	border-radius: 35px
	display: none
	-webkit-transition: all 0.3s linear
	-moz-transition: all 0.3s ease
	-ms-transition: all 0.3s ease
	-o-transition: all 0.3s ease
	transition: all 0.3s ease



