<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,target-densitydpi=device-dpi">
<meta name="generator" content="verse">
<meta name="X-UA-Compatible" content="IE=edge">

[% if dometa %]
<meta name="twitter:card"       content="summary">
[% if site.id.twitter %]
<meta name="twitter:site"       content="@[% site.id.twitter %]">
[% end %]

<meta property="og:type"        content="article">
<meta property="og:title"       content="[% article.attrs.title %]">
<meta property="og:site_name"   content="[% site.title %]">
<meta property="og:url"         content="[% site.canon %]/writings/[% article.attrs.permalink %].html">

[% if article.attrs.thumb %]
<meta property="og:image"       content="[% site.canon %]/content/wrt/stack.jpg">

[% end %]
<meta property="og:description" content="[% if article.attrs.abstract %][% article.attrs.abstract %][% else %]I'm sure it's enthralling and interesting[% end %]">
[% if site.id.facebook %]
<meta property="article:author" content="[% site.id.facebook %]">
[% end %]

<title>[% article.attrs.title %] - [% site.title %]</title>

[% else %]
<title>[% site.title %]</title>

[% end %]
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/site.css?[% site.cache.site-css %]">
<link rel="alternate home" type="application/rss+xml" title="[% site.title %] - RSS feed" href="/feed.xml">
</head>
<body>
  <header class="top">
    <img src="/logo.png?[% site.cache.logo-png %]">
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/download/">Download</a></li>
      <li><a href="/community/">Community</a></li>
      <li><a href="/docs/latest/ops/">Docs</a></li>
      <!--li><a href="/docs/latest/dev/">Developers</a></li-->
    </nav>
  </header>

  [% content %]

  <footer>
    <div class="g">
      <div class="x3">
        <img src="/swlogo.png?[% site.cache.swlogo-png %]">

        <p>SHIELD is maintained by Stark &amp; Wayne,
        a leading Cloud-Native consulting firm.</p>
      </div>

      <div class="x3">
        <nav>
          <li><a href="/">Home</a></li>
          <li><a href="/download/">Download</a></li>
          <li><a href="/community/">Community</a></li>
          <li><a href="/docs/latest/ops/">Docs</a></li>
          <!--li><a href="/docs/latest/dev/">Developers</a></li-->
        </nav>
      </div>

      <div class="x3">
      </div>
    </div>

    <div class="copyright">
      <p>Copyright &copy; 2019 The SHIELD Authors.  All rights reserved.</p>
    </div>
  </footer>
  <script type="text/javascript" src="/site.js?[% site.cache.site-js %]"></script>
</body>
</html>
